################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Leetcode2023/v17/.suo
/Leetcode2023/bin
/Leetcode2023/obj