################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Leetcode2023/v17/.suo
*/bin
*/obj
/.vs/
/Leetcode2023/Testcase.txt
/Leetcode2023/Program.cs
